:root{
    --background_color : #121212;
    --main_text : #f0f8ff; 
    --sub_text : gray;
    --positive : #00C457;
    --negative : #C40000;
    /*tiers*/
    --tier_iron : #A0A0A0;
    --tier_bronze : #975936;
    --tier_silver : #c0c0c0;
    --tier_gold : #fd9900;
    --tier_platinum : #07C0D9;
    --tier_diamond : #9902B2;
    --tier_emerald : #02B50A;
    --tier_conqueror : #DA092F;
    --tier_lumen : #4563EB;

    --user_tier:
}

.game-name{
    color: var(--positive);
}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent black */
    z-index: 9999; /* Ensure it's on top of all other elements */
    cursor: not-allowed; /* Change cursor to indicate no interaction */
}

* {
	font-family: Pretendard;
}

body {
	background-color: var(--background_color);
	color: var(--main_text);
	overflow-x: hidden;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	height: 40px;
	width: 100%;
	background: rgba(217, 217, 217, 0.01);
	backdrop-filter: blur(43.90px)
}

.navbar-left,
.navbar-right {
	display: flex;
	align-items: center;
}

.navbar-right {
	margin-right: 30px;
}

.logo {
	margin-left: 10px;
	width: 10px;
	/* 로고 크기 조절 */
	height: auto;
	margin-right: 15px;
}

.nav-link {
	margin-right: 18px;
	text-decoration: none;
	color: var(--main_text);
	font-size: 15px;
	font-weight: 400;
	transition: color 0.3s ease;
}

.nav-link:hover {
	color: var(--main_text);
	/* 호버 시 색상 변경 */
}

.nav-text {
	margin-left: 20px;
	font-size: 14px;
	color: var(--main_text);
}

.highlight {
	font-weight: bold;
	color: var(--main_text);
}

.highlight-green {
	font-weight: bold;
	color: var(--positive);
}

.highlight-tier {
	font-weight: bold;
	color: var(--user_tier);
}

.tab-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	overflow-x: auto;
	white-space: nowrap;
	margin-top: 20px;
}

.tabs {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.tab-item {
	margin: 0 15px;
	cursor: pointer;
	color: var(--sub_text);
	font-size: 18px;
	transition: all 0.3s ease;
	white-space: nowrap;
	display: flex;
	align-items: center;
	font-weight: 400;
}

.tab-item:hover {
	color: var(--main_text);
}

.tab-item.selected {
	color: var(--main_text);
	font-size: 35px;
	font-weight: 600;
}

.content {
	text-align: center;
}

.content-item {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(20px);
	/* 초기 위치 아래쪽 */
	width: 100%;
	height: max-content;
	align-items: center;
	text-align: center;
	opacity: 0;
	/* 초기 투명도 */
	transition: transform 0.4s ease, opacity 0.4s ease;
	/* 애니메이션 설정 */
}

.content-item.active {
	display: block;
	transform: translateX(-50%) translateY(0);
	/* 정상 위치로 슬라이드 */
	opacity: 1;
	/* 불투명하게 전환 */
}


.username {
	color: var(--main_text);
	font-size: 20px;
}

.ranked-tier {
	color: var(--user_tier);
	font-size: 70px;
	font-weight: 700;
	margin-top: 30px;
}

.progress-title {
	font-size: 14px;
	color: var(--main_text);
	margin-top: 50px;
}

.progress-subtitle {
	font-size: 18px;
	color: var(--user_tier);
	font-weight: bold;
}

.progress-bar {
	position: relative;
	background-color: var(--main_text);
	height: 10px;
	border-radius: 5px;
	overflow: hidden;
	margin-top: 10px;
	box-shadow: 0 0 12px 1px var(--user_tier);
	/* 내부 광채 */
	left: 50%;
	transform: translateX(-50%);
	width: 800px;
}

.progress-bar-fill {
	background-color: var(--user_tier);
	height: 100%;
	width: 50%;
	/* 현재 진행 상황을 비율로 설정 */
	border-radius: 5px;
	box-shadow: 0px 0px 0.899999618530273px var(--user_tier);
}


.progress-text-left {
	position: absolute;
	top: -25px;
	left: 0;
	font-size: 12px;
}

.progress-text-right {
	position: absolute;
	top: -25px;
	right: 0;
	font-size: 12px;
	color: var(--user_tier);
}

.startbtn {
	background-color: rgba(0, 0, 0, 0);
	border: var(--main_text) 3px solid;
	border-radius: 60px;
	width: 180px;
	height: 50px;
	transition: ease-in-out 0.2s;
	color: #dddddd;
	display: flex;
	/* Use flexbox to align items */
	align-items: center;
	/* Vertically center the content */
	justify-content: center;
	/* Center the content horizontally */
	gap: 10px;
	/* Space between text and image */
	padding: 0 20px;
	/* Add some padding to the sides */
	text-align: center;
	font-size: 16px;
	/* Adjust the text size */
	font-weight: bold;
	/* Make the text bold */
	word-wrap: unset;
	cursor: pointer;
}

.text-container {
	text-align: left;
	/* Align text to the left */
	line-height: 1.2;
	/* Adjust line-height for better vertical alignment */
}

.startbtn:hover {
	border: var(--user_tier) 3px solid;
}

/* Style the image inside the button */
.logo-inside-button {
	width: 10px;
	/* Adjust the width of the logo */
	height: auto;
	/* Maintain aspect ratio */
}

.button-container {
	display: flex;
	justify-content: center;
	/* Center the buttons horizontally */
	gap: 20px;
	/* Space between the buttons */
	margin-top: 40px;
	/* Adjust the margin as needed */
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

/* Styling for the button */
.startbtn {
	background-color: rgba(0, 0, 0, 0);
	border: var(--main_text) 3px solid;
	border-radius: 60px;
	width: 180px;
	height: 50px;
	transition: ease-in-out 0.5s;
	color: #dddddd;
	align-items: center;
	text-align: center;
	box-shadow: 0 0 13px 3px #5a5a5a;
}

.qstartbtn {
    background-color: rgba(0, 0, 0, 0);
    border: var(--main_text) 3px solid;
    border-radius: 60px;
    width: 180px;
    height: 50px;
    transition: ease-in-out 0.5s;
    color: #dddddd;
    display: flex; /* Flexbox for aligning content */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
    box-shadow: 0 0 13px 3px #5a5a5a;
    font-weight: bold; /* Make sure text is bold */
    font-size: 16px; /* Adjust text size */
    cursor: pointer; /* Pointer on hover */
    gap: 10px;
}

.startbtn:hover {
	border: var(--user_tier) 3px solid;
}

.number-overlay {
	position: relative;
	text-align: center;
	margin-top: 50px;
}

.userlv {
	font-size: 280px;
	/* Large size for the numbers */
	color: rgba(255, 255, 255, 0.1);
	/* Semi-transparent white color */
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.large-numbers span {
	margin-left: 0.2em;
	/* Small space between the numbers */
}

.center-content {
	position: relative;
	z-index: 1;
	/* Bring the content above the numbers */
}

.letter {
	font-size: 180px;
	/* Size of the central letter */
	color: var(--main_text);
	/* White color */
	font-weight: 900;
}

.queue {
	font-size: 15px;
	color: var(--sub_text);
	margin-top: 120px;
	font-weight: 200;
}

.discribe {
	font-size: 15px;
	font-weight: 200;
	color: var(--sub_text);
	margin-top: 10px;
}

.countdown-container {
	text-align: center;
}

.countdown {
	display: flex;
	justify-content: space-between;
	/* 전체 너비를 균등하게 채우도록 설정 */
	align-items: center;
	font-weight: bold;
	font-size: 120px;
	max-width: 400px;
	/* 전체 콘텐츠의 최대 너비를 제한 */
	margin: 0 auto;
	/* 가운데 정렬 */
	position: relative;
	margin-top: 50px;
}

.topper {
	width: px;
	height: 50px;
	background: #23262A;
	border-top-left-radius: 29px;
	border-top-right-radius: 29px;
	left: 0;
	top: 0;
	position: absolute;
}

.countdown span {
	position: relative;
	z-index: 2;
}

.label {
	font-size: 18px;
	font-weight: normal;
	color: rgba(255, 255, 255, 0.8);
	margin-bottom: 10px;
}

.game-start,
.players-joined {
	text-align: center;
	width: auto;
	margin: 0 1px;
	/* 두 섹션 간의 마진을 더 줄임 */
}

.username-royale.ready {
	color: var(--positive);
	font-size: 20px;
}

.username-royale.unready {
	color: #C40000;
	font-size: 20px;
}

.customgame-container {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	gap: 30px;
	width: 80%;
	max-width: 1200px;
	text-align: center;
	/* 전체 중앙 정렬 */
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-left: 10px;
	margin-top: 30px;
}

.customgame-room-settings h2,
.customgame-room-logs h2 {
	font-size: 20px;
	margin-bottom: 15px;
}

.customgame-room-code {
	margin-bottom: 20px;
}

.customgame-room-code h1 {
	font-size: 48px;
	margin: 10px 0;
}

.customgame-room-code p {
	font-size: 14px;
	color: #888;
}

.customgame-join-room {
	margin-top: 20px;
}

.customgame-join-room input {
	width: 300px;
	padding: 10px;
	font-size: 24px;
	text-align: center;
	border: none;
	border-radius: 5px;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0);
	outline: none;
	color: var(--main_text);
}

.customgame-players {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	text-align: center;
}

.customgame-player {
	background-color: #1e1e1e;
	padding: 20px;
	border-radius: 10px;
	font-size: 24px;
	color: #ccc;
	cursor: pointer;
}

.customgame-player.customgame-host {
	color: #4563EB;
}

.customgame-player p {
	margin: 10px 0 0;
	font-size: 14px;
}

.customgame-room-under {
	text-align: left;
	padding: 20px;
	border-radius: 10px;
	width: 260px;
}

.customgame-upper {
	display: flex;
	/* Flexbox를 사용하여 자식 요소를 가로로 나열 */
	justify-content: space-between;
	/* 두 요소 사이에 공간을 균등하게 배분 */
	align-items: center;
	/* 요소들이 수직으로 가운데에 위치하도록 설정 */
	gap: 20px;
	/* 요소 사이의 간격을 설정 (원하는 만큼 조정 가능) */
}

.customgame-settingbigtitle {
	color: var(--main_text);
	font-size: 20px;
	font-weight: 600;
}

.customgame-settingtitle {
	color: var(--main_text);
	font-size: 12px;
	font-weight: 400;
}

.customgame-settingpara {
	color: var(--main_text);
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}

.customgame-settingpara-disabled {
	color: var(--sub_text);
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
	transition: ease-in-out 0.2s;
}